h1{
	color: black;
}
h1{
	background-color: rgba(2, 222, 242, 1);
}
h1{text-align: center;

}
.h1{
	font-weight: 40px;
	color:black;
	background-color:green;

}
#h2{
	text-align: center;
	color:black;		
	background-color:rgba(27, 157, 142, 1);
	}

#h3{
	color: black;
	background-color: rgba(2, 222, 242, 1);
	}